target/
build/
.gradle/
bin/
out/
*.jar
*.war
*.zip

.idea/
*.iws
*.iml
*.ipr
out/

.metadata/
.classpath
.project
.settings/
*.launch

.vscode/

server/
run/
cache/
bundler/

*.log
.DS_Store
Thumbs.db